body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.header {
    text-align: center;
}
.header h1{
    font-weight: normal;
    font-size: 50px;
    color: white;
}
.header p a{
    color: aquamarine;
    font-size: 16px;
    
}